nav{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.link{
 text-decoration: none;
 color: #ffffff;
 background-color: #007bff;
 border-radius: 5px;
 padding: 10px;
 width: 85%;
 margin: auto;
 margin-bottom: 8px;
}   

.link:hover{
background-color: #0056b3;
}